.bannerContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* o la altura que prefieras para tu banner */
  background-image: url('../public/images//tp3.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* esto es lo que crea el efecto fijo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Omitir si no es necesario */
/* .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images//tp3.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  z-index: -1;
} */
