.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #000; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
  }
  
  .footerColumn {
    width: 30%; /* Ancho de cada columna */
  }
  
  .footerColumn h3 {
    margin-bottom: 10px;
  }
  
  .footerColumn p {
    margin-bottom: 5px;
  }
  
  .socialIcons {
    /* Estilos para tus íconos de redes sociales */
  }
  
  /* Añade media queries si es necesario para hacer el footer responsive */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
    
    .footerColumn {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  