@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet');



.navbar {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente al navbar */
    position: fixed; /* Esto mantiene el navbar fijo en la parte superior */
    top: 0; /* Alinea el navbar en la parte superior de la ventana del navegador */
    left: 0; /* Alinea el navbar al lado izquierdo de la ventana del navegador */
    width: 100%; /* Asegura que el navbar se extienda a lo ancho de la pantalla */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent; /* fondo inicialmente transparente */
    /* background-color: #333; */
    color: white;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros contenidos */
    opacity: 70%;
    transition: background-color 0.3s; /* suaviza la transición del color de fondo */
    
  }
  /* Navbar.module.css */
    .scrolled {
      background-color: rgba(51, 51, 51, 0.7); /* o el color de fondo que desees con la opacidad */
    }

  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.8s; /* Suaviza la transición del color */
  }
  .logo a:hover{
    color: #0096c4;
  }
  
  .navLinks {
    display: flex; /* Asegura que flex esté activo para posicionar correctamente los enlaces */
    /* background-color: red; */
    transition: all 0.3s ease; /* Suaviza la transición de aparición */
    z-index: -1; /* Asegúrate de que el menú no interfiera con otros elementos */
  }

  .navLinks li {
    margin-left:100px;
    transition: background-color 2s; /* suaviza la transición del color de fondo */

  }
  .navLinks li a{
    font-weight: 500; /* Aumenta según la fuente que estés usando */
    position: relative; /* Necesario para posicionar el pseudoelemento para el subrayado */
    color: white; /* Color inicial del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    transition: color 0.8s; /* Suaviza la transición del color */
  }
  .navLinks li a:hover {
    color: #0096c4;

  }
  .navLinks li  {
    color: white;
    text-decoration: none;
  }
  /* Subrayado que se expande desde el centro */
.navLinks a::before {
  content: '';
  position: absolute;
  width: 0; /* El subrayado comienza sin ancho */
  height: 2px; /* El grosor del subrayado */
  bottom: -5px; /* Distancia desde la parte inferior del enlace */
  left: 50%; /* Comienza en el centro */
  background-color: #0096c4; /* Color del subrayado */
  visibility: hidden; /* Ocultamos el subrayado por defecto */
  transform: translateX(-50%); /* Alinea correctamente el inicio del efecto */
  transition: all 0.3s ease-in-out;
}

/* Hacer visible el subrayado y expandir cuando se pasa el mouse */
.navLinks a:hover::before,
.navLinks a:focus::before { /* Asegúrate de incluir :focus para accesibilidad */
  visibility: visible; /* Hacemos el subrayado visible */
  width: 100%; /* El subrayado se expande al 100% del ancho */
}
  
  .mobileMenuIcon {
    display: none; /*Por defecto, no mostrar el ícono del menú móvil*/
    font-size: 2rem;
    cursor: pointer;
  }
  
  .showMenu {
    transform: translateY(0); /* Muestra el menú cuando isOpen es true */
    z-index: 999; /* Asegura que el menú esté sobre otros elementos */
  }
  
  /* Estilos para dispositivos móviles */
@media (max-width: 1125px) {

   .navbar{
    flex-direction: column;
    justify-content: center;


   } 
  .mobileMenuIcon {
    display: block; /* Muestra el icono del menú en pantallas pequeñas */

  }

  .navLinks {
    display: none; /* Oculta los enlaces por defecto en móviles */
  }

  .navLinks.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: none;
  }
  .navLinks li {
    margin-left:0px;
    margin-top: 10px;
  }
}


  