/* ProjectCarousel.module.css */
.carouselContainer {
    padding: 50px;
  }
  
  .slide {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  /* Establece un alto fijo para cada slide para que todos tengan el mismo tamaño */
  height: 500px; /* Ajusta según lo que necesites */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto distribuirá el espacio verticalmente */
}
  
  .slide:hover {
    transform: scale(1.01);
  }
  
  .projectImage {
    width: 100%; /* La imagen ocupará todo el ancho del .slide */
    object-fit: cover; /* Asegura que la imagen cubra el área asignada */
    border-radius: 8px;
    /* Establece una altura máxima para la imagen */
    height: 90%; /* Ajusta según lo que necesites */
  }
  .projectContent {
    /* Si el contenido del proyecto es muy largo y puede hacer que la tarjeta crezca, puedes considerar añadir overflow */
    overflow: hidden;
  }
  
  .projectName,
  .projectDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
